In [74]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [48]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

# **Extracción de todos los Grupos y convirtiendolos en un archivo pickle**

In [49]:
todas_tablas[9]
todas_tablas[16]
todas_tablas[23]
todas_tablas[30]
todas_tablas[37]
todas_tablas[44]
todas_tablas[51]
todas_tablas[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [53]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [66]:
for word, i in zip(alphabet, range(9, 65, 7)):
  print(word, i)

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

In [68]:
dict_tablas = {}
for word, i in zip(alphabet, range(9, 65, 7)):
  df = todas_tablas[i]
  df.rename(columns={df.columns[1]:'Team'}, inplace=True)

  if 'Qualification' in df.columns:
    df.pop('Qualification')
  dict_tablas[f'Grupo {word}'] = df

In [69]:
dict_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [71]:
dict_tablas['Grupo B']

   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    3  2  1  0   9   2  +7    7
1    2  United States    3  1  2  0   2   1  +1    5
2    3           Iran    3  1  0  2   4   7  −3    3
3    4          Wales    3  0  1  2   1   6  −5    1

In [90]:
# para exportar el diccionario
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

path = '/content/drive/MyDrive/DataScience/2. Proyecto de Data Science con Python - YT/dict_table.pickle'

with open(path, 'wb') as file:
  pickle.dump(dict_tablas, file)

Mounted at /content/drive

# **Extracción de los partidos jugados en la fase de grupos, octavos de final, semifinal y la final utilizando Beatiful Soup**

In [92]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from bs4) (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->bs4) (2.4)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1270 sha256=f61f9c45f4850f8abc864489abcc8e018822559e0c41afb6651e35acc3ec78ae
  Stored in directory: /root/.cache/pip/wheels/73/2b/cb/099980278a0c9a3e57ff1a89875ec07bfa0b6fcbebb9a8cad3
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

            home         score          away  year
0        Brazil            3–1       Croatia  2014
1        Mexico            1–0      Cameroon  2014
2        Brazil            0–0        Mexico  2014
3      Cameroon            0–4       Croatia  2014
4      Cameroon            1–4        Brazil  2014
..           ...           ...           ...   ...
59  Netherlands   0–0 (a.e.t.)    Costa Rica  2014
60       Brazil            1–7       Germany  2014
61  Netherlands   0–0 (a.e.t.)     Argentina  2014
62       Brazil            0–3   Netherlands  2014
63      Germany   1–0 (a.e.t.)     Argentina  2014

[64 rows x 4 columns]